.body
  %section.cd-intro
    %h1.cd-headline.rotate-1
      %span Despre acest proiect, panouri fotovoltaice și energia produsă
.content
  %h3{:style => "text-align:center"}
    = "Această aplicație are la bază lucrarea 'New approaches in online evaluation of photovoltaic systems efficiency by implementing IoT monitoring solutions' realizată de către:"
  %ul.nav.flex-column
    %li.nav-item{:style => "text-align:center"}
      %a.nav-link.active{:href => "https://mdm.utcluj.ro/colectiv/lecturer-calin-rusu-phd-eng/", target: '_blank',} Călin Rusu
    %li.nav-item{:style => "text-align:center"}
      %a.nav-link.active{:href => "https://mdm.utcluj.ro/colectiv/lecturer-sorin-besoiu-phd-eng/", target: '_blank'} Sorin Besoiu
    %li.nav-item{:style => "text-align:center"}
      %a.nav-link.active{:href => "https://www.linkedin.com/in/lorand-kacso-vidrean-143595109/", target: '_blank'} Lorand Kacso-Vidrean
    %li.nav-item{:style => "text-align:center"}
      %a.nav-link.active{:href => "https://mdm.utcluj.ro/colectiv/lecturer-ciprian-lapusan-phd-eng/", target: '_blank'} Ciprian Lăpușan
  %h3{:align => "left"}
    = "Ceea ce veți vedea în acestă a aplicație, reprezintă faza finală a acestui proiect, cea în care toate datele generate de senzorii atașați de panourile fotovoltaice sunt preluate, depozitate, analizate și afisate cu ajutorul unei interfețe web IOT."
  %h3 Există câteva lucruri interesante despre energia solară pe care probabil nu le știați:

  %ul.list-group
    %li.list-group-item Energia solară este cea mai abundentă sursă de energie de pe Pământ.
    %li.list-group-item Costurile panourilor solare au scăzut cu 99% din 1977.
    %li.list-group-item Energia solară este mai ieftină decât combustibilii fosili.
    %li.list-group-item Instalațiile de panouri solare pot dura 40 de ani sau mai mult.
    %li.list-group-item 39% din capacitatea nouă de producție de energie electrică instalată în 2016 a fost solară.
    %li.list-group-item China este, de departe, liderul mondial în domeniul energiei solare.

